
:root {
    --dark-background-color: black;
    --dark-text-color: pink;
    --light-background-color: lightblue;
    --light-text-color: black;
  }
  
  body {
    background-color: var(--light-background-color);
    color: var(--light-text-color);
  }
  body.dark-theme {
    background-color: var(--dark-background-color);
    color: var(--dark-text-color);
  }
  
  body.light-theme {
    background-color: var(--light-background-color);
    color: var(--light-text-color);
  }
  header {
    text-align: center;
  }
  .hline {
    border: 6px double pink;
    
  }
  #change-color-btn{
   display: flex;
   justify-content: center;
  }
  #blogContainer{
    border: double 2px var(--dark-text-color)
  }
  div { 
    border: solid var(--light-background-color);
  }